/* RESET */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    bacground-color:
}


.container {
    padding: 25px auto;
    text-align: center;
}

.header {
    font-size: 50px;
}

h3 {
    border-bottom: 1.5px dashed black;
}