/* RESET */
/* Limpa os atributos base */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #467b;
}

.container {
    padding: 25px auto;
}

.header {
    background-color: #147b;
    height: 140px;
    padding: 20px;
}

.header h3 {
    color: #fdfdfd;
    margin-top: 0px;;
}

h1,
h2,
h3 {
    color: #333;
}

p,
label {
    color#444;
}

input {
    border: none;
    border-bottom: 1px solid #333;
    padding: 10px 0px;
}

input[type="text"]
input[type="file"]
input[type="number"],
{
    width: 400px;
}

input[type="file"]{
    border: none;
}

.form-container {
    width: 60%;
    margin: 0px auto;
    background-color: #fbfbfb;
    position: relative;
    top: -62px;
}

.form-header {
    border-bottom: 1px solid #467b;
    text-align: center;
}

.form-header p {
    color: #467b;
    border-bottom: 2px solid #467b;
    width: 200px;
    text-align: center;
    margin: 0px auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.form-body {
    padding: 30px;
}

.box-input,
.box-extra,
.box-radio{
    margin-bottom: 35px;
}

.box-radio {
    display: block;
}

.box-radio input{
    margin-bottom: 10px;
}

.box-extra {
    display: inline-block;
    margin: 0px 30px 30px 0px;
}

.list-extra {
    padding: 5px;
    list-style: none;
}

textarea {
    width: 400px;
    height: 200px;
    padding: 10px;
}

.required-field {
    color: red;
}

.btn-submit {
    background-color: #467b;
    color: #fdfdfd;
    border: 2px solid #467b;
    height: 50px;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    color:  #467b;
    border-color: #467b;
}
