.body {
    background-color: grey;
    padding: 30px 15px;
}

.title-box {
    padding: 15px;
    text-align: center;
}

.image-container {
    margin: 15px;
    text-align: center;
}







/* FOOTER */
.footer-container {
    background-color: black;
    padding: 20px;
    text-align: end;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-family: sans-serif;
    font-size: 20px;
}

.footer-link {
    margin: 15px;
    padding: 15px;
}