html, body {
    font-family: "Heebo", sans-serif;
    height: 100%;
    margin: 0;
}

body {
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px auto;
    padding: 20px 50px;
}

.title-box {
    text-align: center;
    margin: 25px 0px;
    padding: 25px 0px;
}

h1 {
    font-size: 80px;
    border-bottom: 2px solid black;
}

h3 {
    font-size: 40px;
}

.bold {
    font-weight: bold;
    font-size: 25px;
    text-
}

.image-container {
    margin: 15px;
    text-align: center;
}

.text-box {
    background-color: white;
    margin: 10px 60px;
    padding: 15px;
    text-align: center;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.paragraph {
    font-size: 25px;
    font-family: sans-serif;
}

.album-container {
    margin: 25px 0px;
    padding: 25px 0px;
    font-size: 20px;
}

.quotes-container {
    margin: 25px 25px;
    padding 10px 10px;
    background-color: rgba(150, 150, 150, 20%);
    border-radius: 15px;
}

.last {
/* this class if for the element just before footer */
    flex: 1;
}

/* FOOTER */
.footer-container {
    width: 100%;
    border-top: 3px solid black;
    padding: 10px;
    text-align: end;
    font-family: sans-serif;
    font-size: 20px;
}

.footer-link {
    padding: 15px;
}