html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/background-papota.jpeg');
}

.title-box {
    padding: 15px;
    text-align: center;
}

.image-container {
    margin: 15px;
    text-align: center;
}

.text-box {
    background-color: white;
    margin: 10px 60px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.paragraph {
    font-size: 25px;
    font-family: sans-serif;
}

.last {
/* this class if for the element just before footer */
    flex: 1;
}

/* FOOTER */
.footer-container {
    width: 100%;
    background-color: black;
    padding: 10px;
    text-align: end;
    font-family: sans-serif;
    font-size: 20px;
}

.footer-link {
    padding: 15px;
}