h3{
    /* Style geral para todas as tags <h3>*/
    color: purple;
    font-size: 45px;
    padding: 20px;
}

/* Comentários em CSS */

/* Classes */
/* Diferente com a definição das tags tem de ser definida com .<class-name> */

.paragraph {
    color : green;
    font-size: 28;
    padding: 25px;
    text-align: right;
}

/* Id são atributos para definir um elemento ÚNICO com #<id-unico>*/

#exclusive-title {
    background-color: black;
    color: yellow;
}

/* Ordem de regras Id > Class > Tag */

h2 {
    border-bottom: 1px solid red;
}

.title {
    border-bottom: 3px solid blue;
}

#primary-title {
    border-bottom: 5px solid green;
}

/* color-name */

.color-name {
    color: DodgerBlue;
}

.second-color-name {
    color: Tomato;
}

/* Colors by HEX */
.hex {
    color: #3c4e67;
}

.hex-2 {
    color: #5e3c67;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb  {
    color: rgb(105, 87, 20)
}

/* RGBA permite controlar a opacidade */
.rgba {
    color: rgba(105, 87, 20, 0.6);
}

.rgba-transp {
    color: rgba(105, 87, 20, 0.2);
}

/* HSL */
.hsl {
    color: hsl(100, 35%, 60%);
}

.hsl-2 {
    color: hsl(168, 90%, 40%);
}

.hsla {
    color: hsla(168, 90%, 40%, 0.3);
}

/* backgound-color */
.bg {
    background-color: hsl(100, 35%, 60%);
    color: rgba(190, 35, 80, 0.7);
}

.bg-2 {
    background-color: rgba(105, 87, 20, 0.2);   /* Com rgba consigo controlar a opacidade sem o parâmetro opacity */
    color: rgb(200, 40, 200);
}

/* Opacity */
.bg-opacity {
    background-color: #df0d0d;
    opacity: 0.8;
    color: #150ddf;
}

/* Background with Image */
.bg-img {
    text-align: center;
    background-image: url("../img/stars.jpg");
}

/* Centralize Background Img */
.bg-centered, .bg-not-centered {
    width: 400px;
    height: 400px;
    background-image: url("../img/MT-09.jpg")
}

.bg-centered {
    background-position: center; /* Centraliza a imagem de fondo */
}

.bg-not-centered {
    background-size: cover;  /* Tenta cobrir o máximo possível com a imagem */
}

/* Width & Height */
.width-height {
    width: 150px;
    height: 300px;
    background-color: red;
}

.not-width {
    height: 250px;
    background-color: green;
}

/* Padding - Part of the structure */

.not-padding, .padding {
    background-color: black;
    color: red;
}

.padding {
    border: 5px solid green;
    padding: 35px;
}

/* Padding por Lado */
.indiv-padding {
    border: 3px solid red;
    background-color: rgb(187, 150, 100);
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 120px;
    padding-bottom: 35px;
}

/* All Padding InOne */
.shorthand-padding {
    border: 2px solid blue;
    color: yellow;
    padding: 120px 50px 210px 100px;
}

.shorthand-padding-2 {
    border: 2px solid yellow;
    color: blue;
    padding: 50px 100px;
    /* igual que */
    /* padding: 50px 100px 50px 100px;*/
}

/* Border-Box */
/* Com a regra box-sizing: border-box HTML faz que a largura da caixa seja respeitada (width).
 Caso contrario o elemento vai ter tamanho = width + padding */

.without-border-box {
    background-color: #666;
    color: #fff;
    width: 300px;
    padding: 50px;
}

.border-box {
    background-color: #333;
    color: #666;
    width: 300px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border - Part of the Structures */

.border {
    border: 6px solid green;
}

.border-2 {
    border: 6px dotted blue;
}

.border-style {
    border-style: solid dotted;
    padding: 3px;
}

/* Border individual Sides*/
.border-right {
    border-right: 3px solid red;
    background-color: #6632;
    padding: 20px;
}

/* Border Rounded */
.border-radius {
    border: 5px solid black;
    padding: 25px;
    text-align: center;
    background-color: blue;
    color: #EEEE;
    border-radius: 15px;
}

/* Display */
.inline-box {
    color: green;
    background-color: black;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.display-list {
    color: black;
    background-color: green;
    padding: 5px;
    margin: 10px;
    display: list-item;
}

/* Esconder elementos */
.hidden {
    display: none;
}

/* Positions */
.static {
    background-color: #249;
    color: white;
    padding: 15px;
    margin: 20px;
    border: 1px solid red;
    position: static;
}

.relative {
    background-color: #871;
    color: black;
    padding: 15px;
    margin: 20px;
    border: 1px solid red;
    position: relative;
    top: 100px;
    right: 15px;
}

.absolute {
    background-color: #5555;
    color: blue;
    height: 50px;
    width. 75px;
    padding: 15px;
    margin: 20px;
    border: 1px solid red;
    position: absolute;
    top: 20px;
    right: 20px;
}

.container-relative {
    border: 2px solid blue;
    padding: 20px;
    margin: 90px 20px;
    height: 100px;
    width: 100px;
    position: relative;
}

.absolute-box,
.absolute-box1{
    background-color: red;
    width: 25px;
    height: 25px;
}

.absolute-box {
    position: absolute;
    top: 10px;
    left: 10px;
}

.absolute-box1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fixed-top {
    background-color: green;
    border: 1px solid white;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 20px;
}

.sticky-button {
    border-radius: 15px;
    background: black;
    color:white;
    padding: 5px;
    position: sticky;
    top: 50px;
}

/* Z-Index */
.absolute-box2 {
    background-color: red;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.absolute-box3 {
    background-color: blue;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
}

.absolute-box4 {
    background-color: green;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1;
}
